/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/variables.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

.btn {
    border-radius: 100px;
    padding: 14px 29px;
}

.accordion-header .accordion-button {
    font-weight: 500;
}

.accordion-body {
    font-weight: 300;
    padding-bottom: 35px;
}