@import "assets/scss/theme-custom-primeng.scss";
@import "primeicons/primeicons.css";
@import "assets/scss/library-themes.css";

.btn {
    border-radius: 100px;
    padding: 14px 45px;
}

.accordion-content {
    font-weight: 300;
    padding-bottom: 35px;
}
