/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/variables.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

.btn {
    border-radius: 100px;
    padding: 14px 45px;
}

.accordion-header .accordion-button {
    font-weight: 500;
}

.accordion-body {
    font-weight: 300;
    padding-bottom: 35px;
}

.btn.btn-primary {
    --bs-btn-hover-bg: #e9b005;
    --bs-btn-hover-border-color: #e9b005;
    --bs-btn-focus-shadow-rgb: initial;
    --bs-btn-active-bg: #e9b005;
    --bs-btn-active-border-color: #e9b005;
}

.btn-outline-secondary {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3E4142;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3E4142;
}

.table{
    font-weight: 300;
}

.table-light {
    --bs-table-color: #fff;
    --bs-table-bg: #3E4142;
    --bs-table-border-color: #3E4142;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}