$body-bg-dark: #191A1A;
$body-color-dark: #fff;
$dark: #191A1A !default;

$border: #3E4142;

$secondary: #fff;
$primary: #FED500;

$font-family-sans-serif: "Ubuntu", sans-serif;

$accordion-border-width: 0;
$accordion-border-color: $border;
$accordion-button-active-bg: $primary;
$accordion-button-active-color: $body-bg-dark;