<form [formGroup]="formGroupFilter">
    <app-filter (onSearch)="filter()">
        <div class="col-5">
            <label for="name" class="form-label">{{'usuario.field.name' | translate}}</label>
            <input pInputText type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="col-3">
            <label for="delayedUsers" class="form-label">{{'usuario.field.delayedUsers' | translate}}</label>
            <p-dropdown id="delayedUsers" formControlName="delayedUsers" optionValue="value" [showClear]="true" [options]="optionSimNao"
            optionLabel="label" />
        </div>
    </app-filter>
</form>