<main class="container" id="title">
    <div class="container-fluid">
        <div class="grid">
            <div class="row  mb-4">
                <div class="col-10">
                    <h1>{{'obra.page.new' | translate}}</h1>
                </div>
            </div>

            <form (submit)="submit()" [formGroup]="formGroup">
                <div class="row mb-4">
                    <div class="col-10">
                        <label for="title" class="form-label">{{'obra.field.title' | translate}}</label>
                        <input pInputText type="text" class="form-control" id="title" formControlName="title">
                    </div>
                    <div class="col-2">
                        <label for="location" class="form-label">{{'obra.field.bookcase' | translate}}</label>
                        <p-dropdown id="location" formControlName="location" [showClear]="true"
                            [options]="optionBookcase" optionLabel="bookcase" [filter]="true" filterBy="name" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-8">
                        <label for="publisherName" class="form-label">{{'obra.field.publisherName' | translate}}</label>
                        <input pInputText type="text" class="form-control" id="publisherName"
                            formControlName="publisherName">
                    </div>
                    <div class="col-2">
                        <label for="edition" class="form-label">{{'obra.field.edition' | translate}}</label>
                        <input pInputText type="text" class="form-control" id="edition" formControlName="edition">
                    </div>
                    <div class="col-2">
                        <label for="volume" class="form-label">{{'obra.field.volume' | translate}}</label>
                        <input pInputText type="number" class="form-control" id="volume" formControlName="volume">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        <label for="pageQuantity" class="form-label">{{'obra.field.pageQuantity' | translate}}</label>
                        <input pInputText type="number" class="form-control" id="pageQuantity"
                            formControlName="pageQuantity">
                    </div>
                    <div class="col-3">
                        <label for="publicationYear" class="form-label">{{'obra.field.publicationYear' |
                            translate}}</label>
                        <p-calendar inputId="=publicationYear" view="year" formControlName="publicationYear"
                            [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="yy" />
                    </div>
                    <div class="col-5">
                        <label for="publicationLocation" class="form-label">{{'obra.field.publicationLocation' |
                            translate}}</label>
                        <input pInputText type="text" class="form-control" id="publicationLocation"
                            formControlName="publicationLocation">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-8">
                        <label for="subject" class="form-label">{{'obra.field.subject' | translate}}</label>
                        <p-autoComplete formControlName="subject" [suggestions]="optionAssuntos"
                            (completeMethod)="searchAssuntos($event)" field="name" class="field" />
                    </div>
                    <div class="col-4">
                        <label for="quantityOfCopies" class="form-label">{{'obra.field.quantityOfCopies' |
                            translate}}</label>
                        <input pInputText type="number" class="form-control" id="quantityOfCopies"
                            formControlName="quantityOfCopies">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="author" class="form-label">{{'obra.field.author' | translate}}</label>
                        <p-autoComplete formControlName="author" [suggestions]="optionAutor"
                            (completeMethod)="searchAutor($event)" field="name" class="field" />
                    </div>
                </div>

                <div class="row">
                    <div class="d-grid gap-2 d-md-flex p-0">
                        <button pButton pRipple class="btn btn-primary" type="submit">{{'action.salvar' |
                            translate}}</button>
                        <button pButton pRipple class="btn btn-outline-secondary" type="button"
                            (click)="cancel()">{{'action.cancelar' |
                            translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>