<main class="container" id="title">
    <div class="container-fluid">
        <div class="grid">
            <div class="row  mb-4">
                <div class="col-10">
                    <h1>{{'renovacao.page.title' | translate}}</h1>
                </div>
            </div>

            <form (submit)="submit()" [formGroup]="formGroup">
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="idUser" class="form-label">{{'renovacao.field.idUser' | translate}}</label>
                        <input pInputText type="text" class="form-control" id="idUser" formControlName="idUser">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="obra" class="form-label">{{'renovacao.field.obra' | translate}}</label>
                        <p-dropdown id="obra" formControlName="obra" [showClear]="true" [options]="optionObra"
                            optionLabel="name" />
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex">
                        <button class="btn btn-primary" type="submit">{{'action.salvar' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>