<main class="container" id="title">
    <div class="container-fluid">
        <div class="grid">
            <div class="row  mb-4">
                <div class="col-10">
                    <h1>{{'renovacao.page.title' | translate}}</h1>
                </div>
            </div>

            <form (submit)="submit()" [formGroup]="formGroup">
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="book" class="form-label">{{'emprestimo.field.book' | translate}}</label>
                        <p-autoComplete formControlName="book" [suggestions]="optionObra"
                            (completeMethod)="searchObras($event)" field="title" class="field" />
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex">
                        <button class="btn btn-primary" type="submit">{{'action.salvar' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>