<main class="container" id="title">
    <div class="container-fluid">
        <div class="grid">
            <div class="row  mb-4">
                <div class="col-10">
                    <h1>{{'localizacao.page.new' | translate}}</h1>
                </div>
            </div>

            <form (submit)="submit()" [formGroup]="formGroup">
                <div class="row mb-4">
                    <div class="col-3">
                        <label for="floor" class="form-label">{{'localizacao.field.floor' | translate}}</label>
                        <input type="number" class="form-control" id="floor" formControlName="floor">
                    </div>
                    <div class="col-3">
                        <label for="section" class="form-label">{{'localizacao.field.section' | translate}}</label>
                        <input #section type="text" class="form-control" id="section" formControlName="section"
                            oninput="section.value = section.value.toUpperCase()">
                    </div>
                    <div class="col-3">
                        <label for="initialBookcase" class="form-label">{{'localizacao.field.initialBookcase' |
                            translate}}</label>
                        <input type="number" class="form-control" id="initialBookcase"
                            formControlName="initialBookcase">
                    </div>
                    <div class="col-3">
                        <label for="finalBookcase" class="form-label">{{'localizacao.field.finalBookcase' |
                            translate}}</label>
                        <input type="number" class="form-control" id="finalBookcase" formControlName="finalBookcase">
                    </div>
                </div>

                <div class="row">
                    <div class="d-grid gap-2 d-md-flex">
                        <button class="btn btn-primary" type="submit">{{'action.salvar' | translate}}</button>
                        <button class="btn btn-outline-secondary" type="button" (click)="cancel()">{{'action.cancelar' |
                            translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>