.course {
    font-weight: 500;
}

.dropdown-toggle {
    color: #fff;
    text-decoration: none;
}

.dropdown-item {
    padding: 0.75rem 1.25rem;

    &:hover {
        background-color: var(--primary-700);
    }
}

#nav {
    border-bottom: 1px solid var(--border);
}