@import '../../../assets/scss/variables.scss';

#menuIntranet {    
    border-bottom: 1px solid $border;
    padding: 10px;
}

.nav-link {
    padding: 10px 20px;
}

.nav-link:first-child {
    padding-left: 0;
}

.nav-link:last-child {
    padding-right: 0;
}