<app-loading></app-loading>

<section id="menuIntranet">
    <div class="container">
        <div class="container-fluid">
            <nav class="">
                <ul class="navbar-nav d-flex flex-row justify-content-between">
                    @for (itemMenu of this.menuIntranet.items; track $index) {
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="itemMenu.routerLink">{{ itemMenu.label ?? '' | translate}}</a>
                    </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>

<router-outlet />