<main class="container" id="title">
    <div class="container-fluid">
        <div class="grid">
            <div class="row  mb-4">
                <div class="col-10">
                    <h1>{{'autor.page.new' | translate}}</h1>
                </div>
            </div>

            <form (submit)="submit()" [formGroup]="formGroup">
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="name" class="form-label">{{'autor.field.name' | translate}}</label>
                        <input pInputText type="text" class="form-control" id="name" formControlName="name">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        <label for="birthYear" class="form-label">{{'autor.field.birthYear' | translate}}</label>
                        <p-calendar inputId="=birthYear" formControlName="birthYear" [iconDisplay]="'input'"
                            [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-4">
                        <label for="deathhYear" class="form-label">{{'autor.field.deathhYear' | translate}}</label>
                        <p-calendar inputId="=deathhYear" formControlName="deathhYear" [iconDisplay]="'input'"
                            [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy" />
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex">
                        <button class="btn btn-primary" type="submit">{{'action.salvar' | translate}}</button>
                        <button class="btn btn-outline-secondary" type="button" (click)="cancel()">{{'action.cancelar' |
                            translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>