<main id="footer">
    <div class="container">
        <footer class="container-fluid d-grid gap-2 text-center">
            <div>
                <a target="_blank" href="https://www.linkedin.com/in/jaquelinepeixer/">{{'footer.name' | translate}}</a>
            </div>
            <div class="d-flex gap-4  justify-content-center mt-3">
                <span>{{ 'footer.job' | translate}}</span>
                <img src="../../../assets/img/logo-completo-branco-descomplica.png" alt="{{'college' | translate}}">
            </div>
        </footer>
    </div>
</main>