@import '../../../assets/scss/variables.scss';

#footer {
    margin-top: 90px;
    border-top: 1px solid $border;
}

footer {
    padding: 30px;
}

a {
    color: #FFFFFF;
}

span {
    font-size: 0.725rem;
}