<app-breadcrumb [content]="contentBreadcrumb"></app-breadcrumb>

<main class="container" id="title">
    <div class="container-fluid">
        <div class="grid">
            <div class="row">
                <div class="col-6">
                    <h1>{{'home.title' | translate}}</h1>
                    <div class="d-grid gap-2 d-md-flex">
                        <button class="btn btn-outline-secondary" routerLink="/acervo">{{'menu.consultCollection' | translate}}</button>
                        <button class="btn btn-primary" routerLink="/intranet">{{'menu.intranet' | translate}}</button>
                    </div>
                </div>
                <div class="col-6">
                    <p>{{'home.sutitle' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

<main class="container mt-4" id="faq">
    <p-accordion [activeIndex]="0" id="accordionFaq">
        <p-accordionTab header="{{'home.faq.question_01' | translate}}">
            <p>{{'home.faq.answers_01' | translate}}</p>
        </p-accordionTab>
        <p-accordionTab header="{{'home.faq.question_02' | translate}}">
            <p>{{'home.faq.answers_02' | translate}} </p>
        </p-accordionTab>
        <p-accordionTab header="{{'home.faq.question_03' | translate}}">
            <p> {{'home.faq.answers_03' | translate}} </p>
        </p-accordionTab>
        <p-accordionTab header="{{'home.faq.question_04' | translate}}">
            <p> {{'home.faq.answers_04' | translate}} </p>
        </p-accordionTab>
        <p-accordionTab header="{{'home.faq.question_05' | translate}}">
            <p> {{'home.faq.answers_05' | translate}} </p>
        </p-accordionTab>
    </p-accordion>
</main>